body{
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.float_left {
  mask-image: url(images/dmommies_logo.png);
  float: left;
  /*border: outset 3px gold;
  border-radius: 50px;*/
  margin-right: 10px;
}

#eventPic{
  width: 75%;
  border: solid green 2px;
  border-radius: 3px;
  position: relative;
  margin-left:  50px;
}

#sidebar-wrapper li{
font-family: 'Barrio', cursive;
font-size: 25px;
display: inline;
text-decoration:none;
}

#sidebar-wrapper a{
color: purple;
text-decoration:none;
text-align: center;
}

#gallery{
  border: 1px black solid;
}
.gallery{
  width: 200px;
  height: 200px;
  position: relative;
  display: inline;
  margin: auto;
}


#header img{
position: relative;
left: 25%;
margin-bottom: 50px;
}

h1{
  text-align: center;
}


#outer{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;

}

@media (max-width: 800px) {

#header img{
  width: 75%;
}

}
